//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA di DIVI
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//
///
// Contenitore Featured Header costruito con DIVI
///
.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
  padding-top: $height--large;
  padding-bottom: $height;

  @include breakpoint-max(md) { //contenitore a 5XX px
    padding-top: $line-height * 2;
  }
}

//contenitore DIVI - posizionamento
#intro {
  background-color: main-colors(fheader, bg);
  background-size: cover !important;
  background-image: none;
  position: relative;
  border-bottom: ($line-height / 2) solid main-colors(fheader, border);

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid main-colors(fheader, border);
    bottom: -$line-height;
    left: 45%;
    position: absolute;
    z-index: 99;
  }
}


///
// Featured Header della Landing Page di DIVI
///
.page-template-template_land_page {

  #intro {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 5 !important;
    }
  }

//contenitore DIVI
  &.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
    @include breakpoint-max(xs) {
      padding-top: $line-height * 3 !important;
    }
  }
}


///
// Overlay della sezione introduttiva
///
#intro::before {
  @include color-overlay(fheader, 0.6);
}

#intro.overlay--alt::before {
  background: $overlay--alt;
}


///
// Testo della Parte introduttiva
///
.et_divi_builder #et_builder_outer_content #intro {
  h1 {
    color: main-colors(fheader, body);
  }

  p {
    color: main-colors(fheader, body);
    @include font(h3, $fm: primary, $wt: normal);

    @include breakpoint-max(md) {
      @include m-size(h3);
    }
  }
}
