//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA di DIVI
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//
///
// Contenitore Featured Header costruito con DIVI
///
.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {



  @include breakpoint-max(sm) { //contenitore a 5XX px
  }
}

//contenitore DIVI - posizionamento
#intro {
  position: relative;
  padding-top: $line-height * 4 !important;
  padding-bottom: $line-height * 4 !important;
}


///
// Overlay della sezione introduttiva
///
#intro::before {
  @include color-overlay(fheader, 0.3);
}


///
// Testo della Parte introduttiva
///
.et_divi_builder #et_builder_outer_content #intro {
  color: $bianco;
  h1, h2, h3, h4, h5, p {
    color: $bianco;
  }

  h3 {
    @include font(h3, $fm: primary);
  }
}
