//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA di DIVI
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//
///
// Contenitore Featured Header costruito con DIVI
///
.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
  padding-top: $line-height * 10.5 !important;

  @include breakpoint-max(xxl) { //contenitore a 5XX px
    padding-top: $line-height * 9 !important;
  }

  @include breakpoint-max(sm) { //contenitore a 5XX px
    padding-top: $line-height * 8 !important;
  }
}

//contenitore DIVI - posizionamento
#intro {
  position: relative;
  margin-top: $line-height * -6.5;
  background-color: main-colors(fheader, bg) !important;

  h1 {
    @include breakpoint-max(xxl) {
      @include m-size(h1);
    }
  }

  h3 {
    @include font(h3, $fm: primary);

    @include breakpoint-max(xxl) {
      @include m-size(h3);
    }

    @include breakpoint-max(sm) {
      @include font(p);
    }
  }
}


///
// Featured Header della Landing Page di DIVI
///
.page-template-template_land_page {

  #intro {
    @include breakpoint-max(xxl) {
      padding-top: $line-height * 5 !important;
    }
  }

//contenitore DIVI
  &.et_divi_builder #et_builder_outer_content #intro .et_pb_row:first-of-type {
    @include breakpoint-max(xxl) {
      padding-top: $line-height * 3 !important;
    }
  }
}


///
// Overlay della sezione introduttiva
///
#intro::before {
  @include color-overlay(fheader, $grade: 0.55);
}


///
// Testo della Parte introduttiva
///
.et_divi_builder #et_builder_outer_content #intro {

  p, h1, h2, h3, h4, h5, h6 {
    color: main-colors(fheader, body)
  }
}
