//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero-vero: #000;
$bianco-vero: #fff;
$rosso-vero: #FF0000;

$grigio-scuro: #41413c;
$oro: #b89446;
$bianco: #ffffff;
$verde: #4CAF50;


/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $grigio-scuro,
    button-bg: $bianco,
    button: $grigio-scuro,
  ),

  header: (
    body: $bianco,
    link: $bianco,
    accent: $rosso-vero,
    border: $bianco,
    bg: $oro,
    button-bg: $grigio-scuro,
    button: $bianco,
  ),

  fheader: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $oro,
    bg: $grigio-scuro,
    overlay: $nero-vero,
    button-bg: $bianco,
    button: $grigio-scuro,
  ),

  main: (
    body:       $grigio-scuro,      //Corpo - testo
    body-sec:   $grigio-scuro,      //Secondario - blockquote o blog meta
    heading:    $oro,      //Titoli 1 e 2
    link:       $oro,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     lighten($grigio-scuro, 20%),      //Bordi

    accent:     $oro,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     rgba($oro, 0.55),      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg: mix($oro, $bianco, 35%),
    form-link: $grigio-scuro,
    form-desc: $grigio-scuro,

    overlay:    $bianco,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $grigio-scuro,
    button-bg: $verde,
    button: $bianco,
    ),

  sidebar: (
    body: $nero-vero,
    link: $nero-vero,
    accent: $nero-vero,
    border: $nero-vero,
    bg: $bianco-vero,
    button-bg: $nero-vero,
    button: $bianco-vero,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color--dark: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $oro,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     mix($bianco, $oro, 75%),      //sfondo alt - il bg di un form o di un box
    accent-alt: $oro,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg:  mix($bianco, $oro, 75%),
    form-link: $grigio-scuro,
    form-desc: $grigio-scuro,

    overlay:    $oro,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 50%)    //bg bottone
  ),

  color--light: (
    body:       $grigio-scuro,      //Corpo - testo
    body-sec:   $grigio-scuro,      //Secondario - blockquote o blog meta
    heading:    $oro,      //Titoli 1 e 2
    link:       $oro,      //Link
    bg:         lighten($grigio-scuro, 70%),      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $nero-vero,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero-vero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    lighten($grigio-scuro, 60%),      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 60%)    //bg bottone
  ),

  color--dark-alt: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $oro,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $grigio-scuro,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio-scuro,      //body alternativo - testo in un form o in un box
    bg-alt:     mix($bianco, $grigio-scuro, 75%),      //sfondo alt - il bg di un form o di un box
    accent-alt: $oro,      //accento alt - il di un link nel form

    form-body: $grigio-scuro,
    form-bg:  mix($bianco, $grigio-scuro, 75%),
    form-link: $grigio-scuro,
    form-desc: $grigio-scuro,

    overlay:    $grigio-scuro,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco-vero,
    button-bg-subtle: mix($nero-vero, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// OVERLAY alt
///
//$overlay--alt: linear-gradient(110deg, rgba(65,65,60,1) 0%,rgba(65,65,60,1) 45%,rgba(65,65,60,0.74) 55%,rgba(65,65,60,0.3) 75%,rgba(65,65,60,0.3) 100%);
$overlay--alt: linear-gradient(to right, rgba(65,65,60,1) 0%,rgba(65,65,60,1) 40%,rgba(65,65,60,0.75) 60%,rgba(65,65,60,0.3) 70%,rgba(65,65,60,0.3) 100%);

$overlay--alt: linear-gradient(to right, rgba(1,1,1,1) 0%,rgba(1,1,1,1) 40%,rgba(1,1,1,0.75) 60%,rgba(1,1,1,0.3) 70%,rgba(1,1,1,0.3) 100%);

$overlay--alt: linear-gradient(to right, rgba(darken($grigio-scuro,15%),1) 0%,rgba(darken($grigio-scuro,15%),1) 40%,rgba(darken($grigio-scuro,15%),0.75) 60%,rgba(darken($grigio-scuro,15%),0.3) 70%,rgba(darken($grigio-scuro,15%),0.3) 100%);
