//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$nero-vero: #000;
$nero: #212121;
$bianco: #fff;
$rosso-vero: #FF0000;
$verde: #8BC34A;
$verde-chiaro: #f1f8e9;
$green: #4CAF50;
$blu: #2196F3;
$blu-light: #03A9F4;
$arancio: #FF9800;
$grigio-chiarissimo: #f5F5F5;
$grigio-chiaro: #E0E0E0;
$grigio: #616161;
$rosa: $verde;
$rosa-chiaro: lighten($rosa, 42.5%);

/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $nero,
    link: $nero,
    accent: $verde,
    border: $nero,
    bg: mix($verde, $bianco, 5%),
    button-bg: $green,
    button: $bianco,
  ),

  header: (
    body: $nero,
    link: $nero,
    accent: $verde,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),

  fheader: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    overlay: $rosso-vero,
    button-bg: $nero,
    button: $bianco,
  ),

  main: (
    body:       $nero,      //Corpo - testo
    body-sec:   $grigio,      //Secondario - blockquote o blog meta
    heading:    $grigio,      //Titoli 1 e 2
    link:       $verde,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $grigio-chiaro,      //Bordi

    accent:     $verde,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $grigio-chiarissimo,      //sfondo alt - il bg di un form o di un box
    accent-alt: $verde,      //accento alt - il di un link nel form

    form-body: $grigio,
    form-bg: $verde-chiaro,
    form-link: $verde,
    form-desc: $nero,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: darken($verde, 10%),
    button-bg-subtle: $verde-chiaro    //bg bottone
    ),

  footer: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $verde,
    button-bg: $bianco,
    button: $bianco,
    ),

  sidebar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  alternate: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:   $grigio,      //Titoli 1 e 2
    link:       $nero,      //Link
    bg:         $grigio-chiarissimo,      //Sfondo principale
    border:     $nero,      //Bordi

    accent:     $verde,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     $bianco,      //sfondo alt - il bg di un form o di un box
    accent-alt: $verde,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $rosa,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  socket: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:   $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $verde,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio,      //body alternativo - testo in un form o in un box
    bg-alt:     $rosa-chiaro,      //sfondo alt - il bg di un form o di un box
    accent-alt: $verde,      //accento alt - il di un link nel form

    form-body: $grigio,
    form-bg: $bianco,
    form-link: $verde,
    form-desc: $grigio,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),

  footer: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:   $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $verde,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $grigio,      //body alternativo - testo in un form o in un box
    bg-alt:     $verde-chiaro,      //sfondo alt - il bg di un form o di un box
    accent-alt: $verde,      //accento alt - il di un link nel form

    form-body: $grigio,
    form-bg: $bianco,
    form-link: $rosa,
    form-desc: $grigio,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $verde,      //colore bottone
    button-bg:  $bianco,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
