//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///


$null: transparent;
$bianco: #fff;
$rosso-vero: #FF0000;
$blu: #1f4072;
$viola: #a32639;
$verde: #4CAF50;
$black: #000;

$nero: #212121;
$grigio-scuro: #616161;
$grigio: #E0E0E0;
$grigio-chiaro: #F5F5F5;

$arancio: #FF5722;
$rosso: #F44336;
$blu: #2196F3;
$blu-light: #039BE5;

/*
* Colori delle parti principali del sito
*/
$layout-colors: (
  topbar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $verde,
    button: $bianco,
  ),

  header: (
    body: $grigio-scuro,
    link: $grigio-scuro,
    accent: $verde,
    border: $nero,
    bg: $bianco,
    button-bg: $verde,
    button: $bianco,
  ),

  fheader: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $rosso,
    overlay: $black,
    button-bg: $nero,
    button: $bianco,
  ),

  main: (
    body:       $grigio-scuro,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    $grigio-scuro,      //Titoli 1 e 2
    link:       $rosso,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     lighten($nero, 20%),      //Bordi

    accent:     $rosso,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     $verde,      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: lighten($nero, 20%),
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $nero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
    ),

  footer: (
    body: $bianco,
    link: $bianco,
    accent: $bianco,
    border: $bianco,
    bg: $rosso,
    button-bg: $verde,
    button: $bianco,
    ),

  sidebar: (
    body: $nero,
    link: $nero,
    accent: $nero,
    border: $nero,
    bg: $bianco,
    button-bg: $nero,
    button: $bianco,
  ),
);



/*
 * Colori delle Sezioni FW
 */
$colors: (
  color--dark: (
    body:       $nero,      //Corpo - testo
    body-sec:   $nero,      //Secondario - blockquote o blog meta
    heading:    rgba($nero, 0.90),      //Titoli 1 e 2
    link:       $blu,      //Link
    bg:         lighten(mix($blu, $nero, 55%), 65%),      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $blu,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $nero,      //body alternativo - testo in un form o in un box
    bg-alt:     lighten($viola, 45%),      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $nero,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $black,      //Colore sfondo overlay

    button:     $verde,      //colore bottone
    button-bg:  $nero,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
  color--dark-alt: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    rgba($bianco, 0.90),      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $viola,      //Sfondo principale
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $bianco,      //body alternativo - testo in un form o in un box
    bg-alt:     lighten($viola, 45%),      //sfondo alt - il bg di un form o di un box
    accent-alt: $bianco,      //accento alt - il di un link nel form

    form-body: $bianco,
    form-bg: $bianco,
    form-link: $bianco,
    form-desc: $bianco,

    overlay:    $black,      //Colore sfondo overlay

    button:     $verde,      //colore bottone
    button-bg:  $bianco,

    button-subtle: $bianco,
    button-bg-subtle: mix($nero, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
