//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.125em; //TODO
  $line-height: 1.616161474585000036em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 1.61111111em; //TODO


///
// Families
///
  $ff-primary: 'Martel', serif; //TODO
  $ff-secondary: 'Josefin Sans', sans-serif; //TODO
  $ff-special: $ff-secondary; //TODO
  $ff-button: $ff-secondary;


///
// WEIGHTS per Families
///
$families: (
  primary: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  secondary: (
    fm: $ff-secondary,
    thin: 300,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  special: (
    fm: $ff-special,
    thin: 300,
    normal: 300,
    bold: 700,
    bolder: 700,
  ),
);

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1: (
    fm: secondary,
    wt: normal,
  ),

  h2: (
    fm: secondary,
    wt: normal,
  ),

  h3: (
    fm: secondary,
    wt: bold,
  ),

  h4: (
    fm: secondary,
    wt: bold,
  ),

  h5: (
    fm: secondary,
    wt: bold,
  ),

  small: (
    fm: primary,
    wt: normal,
  ),

  blockquote: (
    fm: secondary,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 5.83333333em,
      lh: 1.1047619em,
      mt: 0.27619048em,
      mb: 0.55238096em,
    ),

    h2: (
      fs: 3.22222222em,
      lh: 1em,
      mt: 0.5em,
      mb: 0.5em,
    ),

    h3: (
      fs: 1.77777778em,
      lh: 1.8125em,
      mt: 0.90625em,
      mb: 0.90625em,
    ),

    h4: (
      fs: 1em,
      lh: 1.61111111em,
      mt: 1.61111111em,
      mb: 0em,
    ),

    h5: (
      fs: 0.75em,
      lh: 1.0744em,
      mt: 1.0744em,
      mb: 0em,
    ),

    small: (
      fs: 0.75em,
      lh: 1.0744em,
      mt: 0,
      mb: 1.0744em,
    ),

    blockquote: (
      fs: 1.77777778em,
      lh: (1.8125em / 1.5),
      mt: 0.90625em,
      mb: 0.90625em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 3.375em,
    lh: 1.44444444em,
    mt: 0.48148148em,
    mb: 0.96296296em,
  ),
  h2: (
    fs: 2.25em,
    lh: 1.44444444em,
    mt: 0.72222222em,
    mb: 0.72222222em,
  ),
  h3: (
    fs: 1.5em,
    lh: 1.08333333em,
    mt: 1.08333333em,
    mb: 0em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(primary, fm),
    wt: family(primary, normal),
  ),

  label: (
    fm: family(secondary, fm),
    wt: family(secondary, bold),
  ),

  desc: (
    fm: family(primary, fm),
    wt: family(primary, normal),
  ),
);
