//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.25em; //TODO
  $line-height: 2em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 2em; //TODO


///
// Families
///
  $serif: 'Ovo', serif; //TODO
  $sans: 'Lato', sans-serif; //TODO
  $special: $serif; //TODO
  $ff-button: $sans;


///
// WEIGHTS per Families
///
$families: (
  serif: (
    fm: $serif,
    thin: 400,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),

  sans: (
    fm: $sans,
    thin: 300,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),

  special: (
    fm: $special,
    thin: 300,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),
);

$decorations: (
  p: (
    fm: sans,
    wt: normal,
  ),

  h1: (
    fm: serif,
    wt: normal,
  ),

  h2: (
    fm: serif,
    wt: normal,
  ),

  h3: (
    fm: serif,
    wt: normal,
  ),

  h4: (
    fm: serif,
    wt: normal,
  ),

  h5: (
    fm: serif,
    wt: normal,
  ),

  small: (
    fm: sans,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 5.35em,
      lh: 1.12149533em,
      mt: 0.37383178em,
      mb: 0.74766356em,
    ),

    h2: (
      fs: 3.05em,
      lh: 1.31147541em,
      mt: 0.6557377em,
      mb: 0.6557377em,
    ),

    h3: (
      fs: 1.75em,
      lh: 1.14285714em,
      mt: 1.14285714em,
      mb: 1.14285714em,
    ),

    h4: (
      fs: 1em,
      lh: $line-height,
      mt: $line-height,
      mb: 0,
    ),

    h5: (
      fs: 0.75em,
      lh: 1.33333333333333em,
      mt: 1.33333333333333em,
      mb: 0em,
    ),

    small: (
      fs: 0.75em,
      lh: 1.33333333333333em,
      mt: 1.33333333333333em,
      mb: 0,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 1.953125em,
    lh: 1.538461538461538em,
    mt: 1.536em,
    mb: 0.768em,
  ),

  h2: (
    fs: 1.5625em,
    lh: 1.935483870967742em,
    mt: 0.96em,
    mb: 0.96em,
  ),

  h3: (
    fs: 1.25em,
    lh: 1.2em,
    mt: 1.8em,
    mb: 0.6em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),

  label: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),

  desc: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),
);
