//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.125em; //TODO
  $line-height: 1.77777778em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 1.77777778em; //TODO


///
// Families
///
  $ff-primary: 'Imprima', serif; //TODO
  $ff-secondary: 'Nixie One', sans-serif; //TODO
  $ff-special: $ff-secondary; //TODO
  $ff-button: $ff-primary;


///
// WEIGHTS per Families
///
$families: (
  primary: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: bold,
    bolder: bold,
  ),

  secondary: (
    fm: $ff-secondary,
    thin: 400,
    normal: 400,
    bold: bold,
    bolder: bold,
  ),

  special: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: bold,
    bolder: bold,
  ),
);

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1: (
    fm: secondary,
    wt: normal,
  ),

  h2: (
    fm: secondary,
    wt: normal,
  ),

  h3: (
    fm: secondary,
    wt: bold,
  ),

  h4: (
    fm: secondary,
    wt: bold,
  ),

  h5: (
    fm: secondary,
    wt: bold,
  ),

  small: (
    fm: secondary,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 5.83333333em,
      lh: 0.9142857em,
      mt: 0.3047619em,
      mb: 0.6095238em
    ),

    h2: (
      fs: 3.22222222em,
      lh: 1.10344828em,
      mt: 0.55172414em,
      mb: 0.55172414em,
    ),

    h3: (
      fs: 1.77777778em,
      lh: 1em,
      mt: 1em,
      mb: 1em,
    ),

    h4: (
      fs: 1em,
      lh: 1.77777778em,
      mt: 1.77777778em,
      mb: 0,
    ),

    h5: (
      fs: 0.85em,
      lh: 2.091503267973856,
      mt: 2.091503267973856,
      mb: 0em,
    ),

    small: (
      fs: 0.85em,
      lh: 2.092503267973856em,
      mt: 2.092503267973856em,
      mb: 0em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 3.38888889em,
    lh: 1.04918033em,
    mt: 0.52459016em,
    mb: 0.52459016em,
  ),

  h2: (
    fs: 2.27777778em,
    lh: 1.56097561em,
    mt: 0.7804878em,
    mb: 0.7804878em,
  ),

  h3: (
    fs: 1.5em,
    lh: 1.18518519em,
    mt: 1.18518519em,
    mb: 1.18518519em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(primary, fm),
    wt: family(primary, normal),
  ),

  label: (
    fm: family(primary, fm),
    wt: family(primary, normal),
  ),

  desc: (
    fm: family(primary, fm),
    wt: family(primary, normal),
  ),
);
