#footer {
  background: main-colors(footer, bg);
  padding: $line-height 0;

  .widget {
    margin: $line-height 0;

    a {
      text-decoration: none;
    }
  }
}

#socket {
  background: main-colors(footer, bg);


  .container {
    padding-top: 0;
    padding-bottom: 0;

    .copyright {
      float: none;
      text-align: center;
      display: block;
      padding-top: $line-height;
      padding-bottom: $line-height;
      border-top: main-colors(footer, border) 1px solid;
      max-width: 750px;
      margin: 0 auto;
    }

  }
}

///
// RESETS TITOLI WIDGET

//Reset MT
.flex_column .widget .widgettitle,
.content .widget .widgettitle {
  margin-top: size(p, lh);
}

#footer .widgettitle {
  @include font(p, $mb: 0, $wt: bold, $fm: secondary);
}



///
// COLUMNS
///
#footer div .av_one_fourth {
  margin-left: 3%;
  width: 22.7%;

  &:first-child {
    margin-left: 0;
  }
}


///
// WIDGET NAV MENU
///
#top #footer .widget_nav_menu li {
  @include font(p, $mb: 0);

  a {
    padding: 0;
    padding-left: 0;
  }
}
