.container_wrap {
  border-top: 0;
}


///
// Colori
///
.alternate_color.title_container {
  background-color: $verde;
  color: #fff;
  background-image: url(http://giocattolionline.net/files/2017/06/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  @include breakpoint-max(lg) {
    background-image: none;
  }
  @include breakpoint-max(md) {
    background-size: 80%;
    background-position: 280% 100%;
  }
}
.alternate_color .breadcrumb,
.alternate_color .breadcrumb a,
#top .alternate_color.title_container .main-title,
#top .alternate_color.title_container .main-title a {
  color: $bianco;
}


#top .title_container .container {
  padding: $line-height / 2 50px $line-height / 4 50px;;
  min-height: auto;
}

.title_container .main-title {
  min-height: auto;
  @include font(h3, $fm: primary, $mt: 0, $mb: 0, $wt: bold);
  text-transform: uppercase;
  display: block;

  @include breakpoint-max(lg) {
    @include m-size(h3, $mt:0 , $mb: 0);
  }
}


.title_container .breadcrumb {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 0;
  @include font(h5, $mt: 0, $mb: 0, $fm: primary);
  overflow: hidden;

  @include breakpoint-max(md) {
    line-height: size(h5, lh) / 2;
  }

  .trail-before {
    padding-left: 0;
  }
}
