//***************************************************************************//
//*                                                                     *****//
//*                               SEZIONE INTRODUTTIVA
//*              a cappello delle pagine
//*                                                                         *//
//***************************************************************************//

///
// Contenitore Featured Header
///
#feature,
.has-gradient #feature,
.no-gradient #feature {
  background-color: main-colors(fheader, bg);
  background-size: cover !important;
  background-image: none;
  position: relative;
  border-bottom: ($line-height / 2) solid main-colors(fheader, border);

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid main-colors(fheader, border);
    bottom: -$line-height;
    left: 45%;
    position: absolute;
    z-index: 99;
  }
}







///
// Overlay della sezione introduttiva
///
#feature::before {
  @include color-overlay(fheader, 0.3);
  background: $overlay--alt;
}



///
// Inner del featured header
///
#feature .inner {
  position: relative;
  z-index: 1;
  padding: 0 0;
  padding-top: $height--large;
  padding-bottom: $height;

  @include breakpoint-max(md) {
    padding-left: $line-height / 2;
    padding-right: $line-height / 2;
    padding-top: $line-height * 2;
    padding-bottom: $line-height * 2;
  }
}



///
// Shadow del Featured Header
///
.has-shadow #feature .top_shadow,
.has-shadow #feature .bottom_shadow {
  display: none;
}




/******************************************************************************
/*                TITOLO del Featured HEADER
*******************************************************************************/
#feature h1 {
  @include font(h1, $mt: 0);
  padding: 0;

  max-width: 770px;

  @include breakpoint-max(md) {
    @include m-size(h1);
  }
}




/******************************************************************************
/*                TESTO
*******************************************************************************/
.feature-introduce {
  @include font(h3, $fm: primary, $wt: normal);

  max-width: 570px;

  @include breakpoint-max(md) {
    @include m-size(h3);
  }
}
