.container_wrap {
  border-top: 0;
}


///
// Colori
///
.alternate_color.title_container {
  background: $verde;
  color: #fff;
}
.alternate_color .breadcrumb,
.alternate_color .breadcrumb a,
#top .alternate_color.title_container .main-title,
#top .alternate_color.title_container .main-title a {
  color: $bianco;
}


#top .title_container .container {
  padding: $line-height / 2 50px $line-height / 4 50px;;
  min-height: auto;
}

.title_container .main-title {
  min-height: auto;
  @include font(h3, $fm: primary, $mt: 0, $mb: 0, $wt: bold);
  text-transform: uppercase;
  display: block;
}


.title_container .breadcrumb {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 0;
  @include font(h5, $mt: 0, $mb: 0, $fm: primary);
  overflow: hidden;
}
