//@each $palette, $bg in $colors {
//  .#{$palette}_color h1,
//  .#{$palette}_color h2,
//  .#{$palette}_color h3,
//  .#{$palette}_color h4,
//  .#{$palette}_color h5,
//  .#{$palette}_color h6  {
//    color: palette($palette, heading);
//  }
//}

/******************************************************************************/
/* SPACING
/******************************************************************************/
///
// Piccolo
///
.avia-section-small .content,
.avia-section-small .sidebar {
  padding-top: $line-height;
  padding-bottom: $line-height;
}

///
// Grande
///
.avia-section-large .content,
.avia-section-large .sidebar {
  padding-top: $line-height * 5;
  padding-bottom: $line-height * 5;
}


///
// XTRA Grande
///
.avia-section-huge .content,
.avia-section-huge .sidebar {
  padding-top: $line-height * 7;
  padding-bottom: $line-height * 7; 
}
