//Reset Sidebar left
#top #main .sidebar_left {
  .sidebar {
    border-right: 0;
  }

  .content {
    border-left: 0;
  }

  .inner_sidebar {
    margin-right: 0;
  }
}

#top #main .sidebar {
  border-left: 0;
  border-right: 0;
  float: left;
  width: 27%;
  overflow: visible;
}

.inner_sidebar {
  margin-left: 0;
  margin-right: 0;
}


.sidebar .widget {
  padding: $line-height;
  background: lighten( main-colors(main, bg-alt), 0.5%);
  padding: $line-height;
  margin-bottom: $line-height;
  box-shadow: $card-shadow;

  &:first-child {
    padding-top: $line-height;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.widget_text {
    padding: 0;
    background: palette(socket, bg);

    h1, h2, h3, h4, h5, p, ol, ul {
      color: palette(socket, body);

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      padding-left: $line-height;
      padding-right: $line-height;

      &:first-child {
        padding-top: $line-height;
      }
      &:last-child {
        padding-bottom: $line-height;
      }
    }

    h3 {
      padding-left: size(h3, lh);
      padding-right: size(h3, lh);

      &:first-child {
        padding-top: size(h3, lh);
      }
      &:last-child {
        padding-bottom: size(h3, lh);
      }
    }
  }

  .widgettitle {
    @include font(h4, $wt: bold, $mt: 0, $mb: size(h4, lh));
  }
}


.sidebar a {
  text-decoration: none;
}
.sidebar p a {
  text-decoration: underline;
}

.sidebar_left.sidebar .widget_product_categories {
  text-align: left;
}
