//***************************************************************************//
//*                                                                     *****//
//*                         BARRA LATERALE
//*                         Layout e Widget
//*                                                                         *//
//***************************************************************************//
//****************************************************************************//
//                             IMPOSTAZIONI GENERALI
//****************************************************************************//

/*
 * Contneuto Sidebar - rimozione Ombra
 */
.has-gradient .right_sidebar #sidebar_content {
  background-image: none;
  background: none;
}

.right_sidebar #sidebar_content.lessgap {
  padding-top: 0;
  padding-left: 0;
}

.has-gradient .right_sidebar #sidebar_content:after {
  content: none;
}

#sidebar {
  padding-bottom: $line-height;
}


//****************************************************************************//
//                           WIDGET
//****************************************************************************//

#sidebar section.widget {
  background: palette(color--light, bg);
  padding: $line-height;
}
/*
 * Ultimo Widget
 */
#sidebar section.widget:last-child {
  margin-bottom: 0 !important;
}


/*
 * Titoli
 */
#sidebar .widgettitle {
  color: palette(color--light, heading);
  text-align: center;
}



/*
 * Corpo
 */
#sidebar .widget ul {
}

/********************************************************************************/
/* WIDGET DI TESTO */
//*****************************************************************************//
#sidebar {
  section.widget.widget_text,
  section.widget.widget_text_icl {
    background: palette(color--dark, bg);
    padding: 0;

    h1, h2, h3, h4, h5, h6, p {
      color: palette(color--dark, body);
    }
  }
}


//****************************************************************************//
//                           COLOR LINK
//****************************************************************************//
#sidebar .widget .posts_list a,
#sidebar .widget .posts_list a:visited,
#sidebar .widget a,
#sidebar .widget a:visited {

  &:hover {
    color: main-colors(main, accent)
  }
}

///
// LINK Nav Menu
///
#sidebar .widget.widget_nav_menu a,
#sidebar .widget.widget_nav_menu a:visited {

  &:hover {
  }
}




//****************************************************************************//
//                           SIDEBAR SU MOBILE
//****************************************************************************//
#sidebar_content {
  @include breakpoint-max(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    section.widget {
      width: 100%;
      margin-right: 0;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @at-root .right_sidebar #{&} {
    @include breakpoint-max(sm) {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
