//****************************************************************************//
//*                                                                     ******//
//*                              IMMAGINI
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
///
// TONDE
///
.lg-tonde,
.et_divi_builder #et_builder_outer_content .et_pb_module img.lg-tonde {
  border-radius: 100%;
}

.magic-image {
  margin-left: -$line-height * 4 !important;
  margin-bottom: $line-height * 2 !important;
}

//****************************************************************************//
//*               IMMAGINI SU MOBILE
//****************************************************************************//
.et_pb_image {
  @include breakpoint-max(sm) {
    margin: 0 auto !important;
  }

  img {
    @include breakpoint-max(sm) {
      max-height: 400px;
    }
  }
}

img.alignright {
  @include breakpoint-max(sm) {
    float: none;
    text-align: center;
    margin-bottom: $line-height !important;
  }
}
