//****************************************************************************//
//*                                                                     ******//
//*                              IMMAGINI
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
///
// TONDE
///
.lg-tonde,
.et_divi_builder #et_builder_outer_content .lg-tonde img {
  border-radius: 100%;
}

///
// ALlineate al centro
///
img.aligncenter, .wp-caption.aligncenter {
  margin: 0 auto !important;
}
//****************************************************************************//
//*               IMMAGINI SU MOBILE
//****************************************************************************//
.et_pb_image {
  @include breakpoint-max(sm) {
    margin: 0 auto !important;
  }

  img {
    @include breakpoint-max(sm) {
      max-height: 400px;
    }
  }
}
