//***********************************************************************//
//*                                                                     *//
//*                     LA TIPOGRAFIA DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

//***********************************************************************//
//              PARTE PRINCIPALE - BODY - P e UL / OL
//***********************************************************************//
/*
 * BODY e P
 */
body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $ff-primary;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}
.helvetica-neue-websave {
  font-family: $ff-primary;
}

p, ul, ol, pre, table, blockquote {
  @include margin;
}

::selection {
  color: $bianco;
  background: main-colors(main, accent);
}

///
// Reset del padding del p e di DIVI BUILDER
////
p,
p.et_normal_padding {
  padding-bottom: 0;
}

ul, ol, pre, table {
  @include decoration();
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


//***********************************************************************//
//              TITOLI
//***********************************************************************//
///
// RESET PADDING
///
h1, h2, h3, h4, h5 {
  padding-bottom: 0;
}
.template-page .entry-content-wrapper h1,
.template-page .entry-content-wrapper h2 {
  text-transform: none;
  letter-spacing: 0;
}


h1,
p + h1 {
  @include font(h1);

  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}

h2,
p + h2 {
  @include font(h2);

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}

h3,
p + h3 {
  @include font(h3);

  @include breakpoint-max(sm) {
    @include m-size(h3);
  }
}


h4,
p + h4 {
  @include font(h4);
}


h5,
p + h5 {
  @include font(h5);
}

.body--special {
  @include font(h3, $fm: special, $wt: normal);

  @include breakpoint-max(xl) {
    @include m-size(h3);
  }
}



//****************************************************************************//
//                                DETTAGLI
//****************************************************************************//
hr { @include hr-spacing; }


b, strong, em, small, code { line-height: 1; }


sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: $sup-top;
}


sub { bottom: $sub-bottom; }




//****************************************************************************//
//                                OL & UL
//****************************************************************************//
///
// Impostazione di Margine e Padding per OL e UL
///
.content ol,
.content ul {
  margin-left: $line-height * 2;
  padding-bottom: 0;
  margin-bottom: $line-height;

  @include breakpoint-max(md) {
    margin-left: $line-height;
  }

  li {
    margin-left: $line-height / 2;
  }
}


///
// Stile lista per UL e OL
///
.content ul li {
  list-style: disc;
}


//****************************************************************************//
//                                BLOCKQUOTE
//****************************************************************************//
blockquote {
  border: 0;
  margin: 0;
  font-size: 1em;
  padding: size(blockquote, lh);
  padding-left: size(blockquote, lh) * 2;

  @include font(blockquote);

  @include breakpoint-max(lg) {
    @include m-size(h3);
  }

  @include breakpoint-max(sm) {
    padding: size(blockquote, lh) / 2;
  }

  &::before {
    top: 1em;
    content:"\e643" !important;

    @include breakpoint-max(sm) {
      display: none;
    }
  }
}

blockquote {
  p {
    color: main-colors(main, accent);
  }

  &::before {
    color: main-colors(main, accent);
  }
}

/*
* Blockquote - citazione COLORI
*/
@each $palette, $section in $colors  {
 .#{$palette} blockquote {

    &::before {
      color: palette($palette, accent);
    }

    p {
      color: palette($palette, body-sec);
    }
  }
}


//****************************************************************************//
//                      COLORI TIPOGRAFIA
//****************************************************************************//
/*
 * Colori Tipografia
 */
.content h1 {color: main-colors(main, heading);}
.content h2 {color: main-colors(main, heading);}
.content h3 {color: main-colors(main, heading);}
.content h4 {color: main-colors(main, heading);}
.content h5 {color: main-colors(main, heading);}
.content p, ul, ol {color: main-colors(main, body);}
.content a,
.content a:visited {color: main-colors(main, link);}
.content a:hover {color: darken(main-colors(main, link), 10%);}

//TOCHK
/*
 * Colori Tipografia nelle Varie sezioni
 */
@each $palette, $sections in $colors {
  .#{$palette}_color {
    p, ul, ol {
      color: palette($palette, body)
    }

    h1, h2, h3, h4, h5 {
      color: palette($palette, heading);
    }

    a,
    a:visited {
      color: palette($palette, link);
    }
    &:hover {
      color: darken(palette($palette, link), 10%);
    }
  }
}


//****************************************************************************//
//                         LINK
//****************************************************************************//
//TOCHCK
/**
 * Decorazione link - Striking e DIVI builder
 **/
a,
.content a:link,
.content a:visited,
.content a:hover,
.content a:active,
.content a:focus {
  text-decoration: underline;

  &.button,
  &.et_pb_button {
    text-decoration: none;
  }
}



///
// Link DENTRO titoli - Colori
///
.content h1 > a,
.content h2 > a,
.content h3 > a,
.content h4 > a,
.content h5 > a {
  text-decoration: none;
  color: layout-colors(main, heading);

  &:link {
    text-decoration:none;
  }

  &:hover {
    text-decoration: none;
    color: lighten(main-colors(main, heading), 5%);
  }

  &:visited {
    text-decoration: none;
    color: layout-colors(main, heading);
  }
}

///
// Link nei titoli - Colori nelle varie sezioni
///
@each $palette, $bg in $colors {
  .content .#{$palette} h1 > a,
  .content .#{$palette} h2 > a,
  .content .#{$palette} h3 > a,
  .content .#{$palette} h4 > a,
  .content .#{$palette} h5 > a {
    color: palette($palette, heading);

    &:link {
      color: palette($palette, heading);
    }

    &:visited {
      color: palette($palette, heading);
    }

    &:hover {
      color: palette($palette, heading);
    }
  }
}

/*
 * Ultimi elementi no margin-bottom
 */
.av_textblock_section p:last-child,
.av_textblock_section h1:last-child,
.av_textblock_section h2:last-child,
.av_textblock_section h3:last-child,
.av_textblock_section h4:last-child,
.av_textblock_section h5:last-child,
.av_textblock_section ul:last-child,
.av_textblock_section ol:last-child {
  margin-bottom: 0;
}

/*
 * Primi elementi no margin-top
 */
.av_textblock_section p:first-child,
.av_textblock_section h1:first-child,
.av_textblock_section h2:first-child,
.av_textblock_section h3:first-child,
.av_textblock_section h4:first-child,
.av_textblock_section h5:first-child,
.av_textblock_section ul:first-child,
.av_textblock_section ol:first-child {
  margin-top: 0;
}
