/*#header_main {
  padding-top: $line-height / 2;
  padding-bottom: $line-height / 2;
}
div .logo {
  padding-top: $line-height / 2;
  padding-bottom: $line-height / 2;
  position: relative;
}*/

#header_main {
  min-height: $line-height * 4;
}
