//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO sopra NAVIGAZIONE
//*                              (tutto centrato)
//*                                                                          *//
//****************************************************************************//

/*
 * Resetta l'altezza del contenitore dell'header
 */
#header-sticker-wrapper {
  height: 0 !important;
  margin-bottom: $line-height * 4;

  @include breakpoint-max(md) {
    margin-bottom: $line-height * 5.5;
  }

  @include breakpoint-max(sm) {
    margin-bottom: $line-height * 4.5;
  }

  &.sticker_enabled {
    #header {
      position: relative !important;
    }
  }
}




//****************************************************************************//
//                HEADER
//****************************************************************************//

/*
 * BG dell'header
 */
#header {
  background-color: main-colors(header, bg);
  transition: all 150ms linear;
  box-shadow: 4px 30px 60px rgba($nero-vero, 0.4);
}





//****************************************************************************//
//                INNER HEADER
//****************************************************************************//

/*
 * Altezza
 */
#header .inner {
  position: relative;
  height: auto;
  transition: all 150ms linear;
  display: flex;
  flex-flow: row;
  width: 100%;
  max-width: $website-width;
  flex-wrap: wrap;
}





//****************************************************************************//
//                LOGO
//****************************************************************************//

/*
 * Contenitore del logo //TODO @at-root directive is not working here
 */
 #logo,
 #logo_text {
   bottom: 0;
   transition: all 0ms linear;
   position: relative;
   order: 1;
   padding: 0;
   height: auto;
   flex-basis: 33%;
   margin-top: -$line-height * 2.5;

   a {
     text-align: center;
     display: block;
     max-width: 400px;
     margin: 0 auto;
   }

   img {
     z-index: 1;
     position: relative;
   }
 }
