/*
 * Header Stretch
 */
.html_header_top #top .av_header_stretch .container {
  max-width: 1920px;
}

#header_main {
  min-height: $line-height * 4;

  @at-root .header-scrolled #{&} {
    min-height: $line-height * 2;
    box-shadow: $card-shadow;
  }
}

.html_header_top.html_header_sticky.html_large .av_minimal_header #header_main .container {
  height: $line-height * 4;
  line-height: $line-height * 4;
}

///
// Logo
////
div .logo {
  top: 0.7em;

  @at-root .header-scrolled-full #{&} {
    top: 0.05em;
  }
}

.logo img {
  max-width: 220px;
  height: auto;
}
/****************************************************************************/
/** CARRELLINO
/****************************************************************************/

#top .header_color .main_menu .dropdown_widget  {
  box-shadow: $card-shadow;
  padding: $line-height / 2 !important;
  background: #fff;

  .widget_shopping_cart_content {
    box-shadow: none !important;
    border: 0 !important;
  }

  ul {border: 0;}

  li {
    @include font(h5, $mt: 0);
    padding: size(h5, lh) / 4 0;

    &:hover {
      background: none;
    }
  }

  p.total {
    @include font(h5, $mt: 0);
    padding: size(h5, lh) / 2 0;
    border-bottom: 0;
  }


  ///
  // RESET COLORI
  ///
  ul > li > a {
    color: $grigio;

    &:hover {
      color: $grigio;
    }
  }

  ul span {
    color: $grigio;
  }

  ul .variation {
    color: $grigio;
  }

  p {
    font-size: 1em;
  }
  p strong {
    color: $grigio;
  }

  ///
  // BOTTONI
  ////
  .buttons {
    background: transparent;
    padding: 0;
    border-top: 0;

    a.button {
      @extend %button;
      @include button(h5, 2, quarter);
      border-color: $verde;
      width: 68%;
      min-width: auto;

      &.checkout.wc-forward {
        @include button-color(none, main);
        width: 30%;
      }
    }
  }
}
