@include breakpoint-max(divi-uxxl) {
  .logo img {
    max-width: 160px;
  }

  .av-main-nav > li {
    font-size: 0.75em;
  }
}

@include breakpoint-max(xl) {
  .logo img {
    max-width: 100px;
    margin-top: $line-height / 2;
  }

    .av-main-nav > li > a {
      padding: 0 10px;
    }
}

@include breakpoint-max(lg) {

  .logo img {
    max-width: 220px;
  }
  .cart_dropdown {
  //  border-left: 0;
  //  float: right;

    .cart_dropdown_first {
      overflow: hidden;
    }
  }

  #advanced_menu_toggle,
  #advanced_menu_hide {
    right: $line-height * 2;
  }
}

@include breakpoint-max(md) {
  #header_main {
    min-height: $line-height * 3;
    padding-top: $line-height / 2;
  }

  .responsive #top .cart_dropdown {
    top: 40%;
    margin: 0;
  }

  #advanced_menu_toggle,
  #advanced_menu_hide {
    right: $line-height / 2;
    top: 12%;
    margin: 0;
  }
}

@include breakpoint-max(sm) {
  #header_main {
    min-height: $line-height * 3;
    padding-top: $line-height / 2;
  }
}
