//******************************************************************************/
//          HEADER
//******************************************************************************/

////
// HEADER non sticky su mobile
////
#header-sticker-wrapper.sticker_enabled #header {
  @include breakpoint-max(md) {
    position: relative !important;
  }
}

////
// HEADER INNER
////
#header .inner {
  @include breakpoint-max(lg) {
    padding: 0 $line-height;
    justify-content: space-between;
  }

  @include breakpoint-max(sm) {
    padding: 0 ($line-height / 2);
  }
}

///
// logo
///
.responsive #logo,
.responsive #logo_text {
  @include breakpoint-max(lg) {
    flex-basis: 50%;
    order: 0;
    a {
      margin: 0;
    }
    img {
      margin: 0;
    }
  }

  @include breakpoint-max(sm) {
    display: block;
    float: none;
    height: auto;
  }

  @include breakpoint-max(xs) {
    flex-basis: 60%;
    padding-right: $line-height / 2;
  }
}

//******************************************************************************/
//         TOB BAR
//******************************************************************************/
.sticker_sticky #top_area { //TOP AREA NASCOSTA quando sticky

  @include breakpoint-max(md) {//la rendo di nuovo visible sotto i 979px

  }
}

#top_area {


  @include breakpoint-max(lg) {//la paddo sotto i 979px
    padding-top: $line-height / 2;
    order: 0;
    flex-basis: 50%;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0;
    justify-content: space-around;

    a.button.small {
      margin-top: 0;
    }
  }

  @include breakpoint-max(md) {
    display: flex;
    visibility: visible;
  }

  @include breakpoint-max(sm) {//rimuovo il padding sotto i 567px
    padding-top: 0;
  }

  @include breakpoint-max(xs) {//rimuovo il padding sotto i 567px
    flex-basis: 33%;
  //  align-self: flex-end;
    flex-shrink: 1;
    width: 33%;
  }

  @at-root .responsive #{&} { //rendo la top bar visibile anche sotto i 787px e ne dimezzo la larghezza
    @include breakpoint-max(md) {
      display: flex;
    }
  }

  .widget {
    @include breakpoint-max(lg) { //li faccio cadere sotto i 567px
      margin-right: 0;
      box-sizing: border-box;
      //clear: both;
      //margin-top: $line-height / 2;
      &.widget_icl_lang_sel_widget {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        order: 0;
        text-align: center;
      }

      &.widget_text,
      &.widget_text_icl {
        margin-right: 0;
        flex-basis: auto;
        flex-shrink: 1;
     }

      &.widget_nav_menu {
        flex-basis: 100%;
        flex-shrink: 1;
        z-index: 99;
        position: relative;

        li {
          text-align:right;
          width: 100%;
        }
      }

      &:last-child {
      //  margin-bottom: $line-height / 2;
      }
    }

    @include breakpoint-max(xs) {
      margin-bottom: $line-height / 2;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

////
// Selettore della Lingua
////
#lang_sel_list {
  @include breakpoint-max(lg) {
    height: 2em;
    padding: 0;
  }
}

/******************************************************************************/
/*          NAVIGAZIONE MOBILE - HAMBURGER NAV
/******************************************************************************/
///
// Fix navigazione che copre tutto
///
.responsive #navigation {
  @include breakpoint-max(lg) {
    display: inline-block;
    width: 100%;
    &::before {
      content: "\f0c9";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0.5em;
      left: 0.7em;
    }
  }
}


///
// Colori e tipografia della nav a menu
///
@include breakpoint-max(lg) {
  .responsive .nav2select {
    @include font(p);
    padding-top: bhpad(2);
    padding-bottom: bhpad(2);
  //  text-indent: 2em;
    -webkit-appearance: none;
    padding-left: 2em !important;
    border: 2px solid main-colors(header, border);

  }
}
