.av_minimal_header #header_meta {
  background: main-colors(topbar, bg);
  line-height: $line-height;
}

#header_meta .sub_menu {
  top: 0;

  li {
  line-height: $line-height;
  @include font(h5, $mt: 0, $fm: secondary);
  text-transform: uppercase;
  border-right: 0;

    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @at-root .header_color #{&} li > a {
    color: main-colors(topbar, link);
  }
}
