#widgetContainer {
  background-color: rgba($bianco-vero, 1) !important;


}

#ReservitBestPriceWidget {
  @include breakpoint-max(sm) {
    display: none !important;
  }
}
#rsvit_btn {
    transform: initial;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #F49E4C;
    color: #fff;
    border: 0;
    top: 335px;
    bottom: initial;
    cursor: pointer;
    right: 0;
    position : fixed;
    z-index: 999999;
    display: none;
}
#iframeReservitBestPriceWidget {
  margin: auto;
  border: none;
  max-width: initial;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}
#btn_bed_ico {
    font-size: 1.3em;
    border: 2px solid;
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
    margin-right: 5px;
}
#rsvit_btn>span {
    font-weight: normal;
}
#ReservitBestPriceWidgetbox {
    border: 0;
    position: relative;
    z-index: 999998;
    background-color : rgba(#fff, 0.7);
    -webkit-box-shadow: -5px 5px 20px 0 rgba(0,0,0,0.64);
    -moz-box-shadow: -5px 5px 20px 0 rgba(0,0,0,0.64);
    box-shadow: initial;
    text-align: center;
    overflow: hidden;
    width: 250px;
    height: 100%;
}
#ReservitBestPriceWidget {
    position: fixed;
    top: 85vh;
    right: 0;
    display: none;
    text-align: center;
    width: 250px;
    height: 450px;
    right: 0;
    transform: translateX(0);
    transform: translateY(-50%);
    left: initial;
    z-index: 9999;
}
#box_btn_close::before {
  // content: "X";
  // position: absolute;
  // line-height: inherit;
  // text-align: center;
  // width: 100%;
  // font-family: Arial;
  // font-style: normal;
  top: -0.2em;
  position: relative;
  // font-size: 70%;
}
#box_btn_close {
    font-size: 20px;
    color: black;
    transition: transform 0.5s ease;
    margin: auto;
}
#box_btn_close:hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#box_btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    vertical-align: middle;
    top: -15px;
    left: -15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 3px;
    text-align: center;
    border-style: solid;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 0px 1px 4.9px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 4.9px 0 rgba(0,0,0,0.4);
    box-shadow: 0px 1px 4.9px 0 rgba(0,0,0,0.4);
    z-index: 1000000;
}
/* DEBUT RESPONSIVE */
@media (max-width: 790px) {
    #rsvit_btn {
        width: 92%;
        left: 4%;
        bottom: 0;
        top: initial;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        background-color: rgba(244,158,76,0.9);
    }
    #ReservitBestPriceWidget {
        // left: 50%;
        right: 0;
        margin-left: 0;

    }
}
@media screen and (max-width:450px) and (orientation:portrait) {
    #ReservitBestPriceWidget {
        width: 250px;
        height: 90%;
        bottom: 0;
        top: 100%;
    }
}
@media screen and (max-width:750px) and (orientation:landscape) {
    #ReservitBestPriceWidget {
        width: 250px;
        height: 90%;
    }
}

.button--booking {
  @include font(p);
  position: fixed;
  display: table;
  right: 2vw;
  bottom: 2vw;
  padding: $line-height / 2;
  width: $line-height * 2;
  height: $line-height * 2;
  text-align: center;
  background: $verde;
  border-radius: 100%;
  line-height: $line-height * 0.75;
  box-shadow: $card-shadow;
  text-decoration: none !important;
  vertical-align: middle;
  z-index: 99999;

  span {
    padding-top: $line-height / 3.5;
    display: block;
  }

  @include breakpoint-min(sm) {
    display: none;
  }
}
