$booking_bp: 'xxl';

.booking-form {
  position: fixed;
  max-width: 250px;
  width: 100%;
  right: 0vw;
  bottom: 0;
  padding: $line-height;
  z-index: 999;
  display: none;
  background-color: $nero;

  @include breakpoint-min($booking_bp) {
    display: block;
    background: rgba($nero, 0.8);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__closebutton,
  &__openbutton {
    padding: $line-height / 2;
    cursor: pointer;
    @include breakpoint-min($booking_bp) {
      display: none;
    }
  }

  &__closebutton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }

  &__openbutton {
    position: fixed;
    box-shadow: $card-shadow;
    text-transform: uppercase;
    right: 1vw;
    bottom: 0;
    z-index: 99;
    background: $verde;
    border-color: $verde;
    border-bottom-color: darken($verde, 10%);
    color: $bianco-vero;
    padding: $line-height / 2;
    border-radius: 100%;
    height: $line-height * 2;
    width: $line-height * 2;
    text-align: center;
    line-height: $line-height / 1.5;
  }

  &__open-text {
    position: absolute;
    transform: translatey(30%) translatex(-50%);
  }

  &__dates {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    margin-bottom: $line-height / 2;

    * {
      box-sizing: border-box;
    }

    select {
      width: 100%;
    }

    input {
      color: $nero !important;
    }
  }

  &__date {
    flex-basis: 50%;
    width: 50%;
    padding-right: $line-height / 4;
    position: relative;

    input {
      width: 100%;
      max-width: 100%;
      line-height: 1.4em !important;
    }

    a {
      position: absolute;
      right: 10%;
      top: 50%;
    }
  }

  &__nights {
    width: 50%;
    flex-basis: 50%;
  }

  &__people {
    flex-basis: 100%;
    display: flex;
    margin-bottom: $line-height / 2;

    select {
      width: 100%;
    }
  }

  &__adults {
    flex-basis: 50%;
    padding-right: $line-height / 4;
  }

  &__child {
    flex-basis: 50%;
  }

  &__button {
    flex-basis: 80%;
    width: 80%;
    margin-left: auto;
    // margin-right: auto;
    @extend %button;
    @include button(small, 2, half);
    // @include button-color(none, main);
    background-color: $verde;
    border-color: $verde;
    text-transform: uppercase;
    color: $bianco-vero;
  }


}

// ui-datepicker-next
.ui-datepicker-next {
  color: $bianco-vero;
  line-height: 30px !important;
  padding-right: 6px;

  span {
    line-height: 0 !important;
  }
}
.ui-datepicker-prev {
  color: $bianco-vero;
  line-height: 30px !important;
  padding-left: 6px;

  span {
    line-height: 0 !important;
  }
}
