#footer #text-4,
#footer #text_icl-9 {
  background: $bordeaux;
  position: fixed;
  bottom: 0;
  right: 0vw;
  padding: $line-height;
  max-width: 330px;
  z-index: 9999;
  box-shadow: -2px -2px 2px rgba($nero, 0.5);
  box-sizing: border-box;


  //FORM
  .widget-solutyon-booking-engine {
    width: 100%;
    font-size: 0.8em;


    .prenotazione_title {
      @include font(p, $wt: bold, $mt: 0, $mb: $line-height / 2);
      text-transform: uppercase;
      color: $bianco;
      text-align: center;
      font-weight: bold;
    }

    //TABELLA
    table {
      width: 100%;
    }
    tr {
      //display: block;
      margin: 0 auto ($line-height / 2) auto;

    }
    td {
      //display: block;
      width: auto;
      margin: 0 auto;
    //  text-align: center;
      padding-top: $line-height / 2;

      &:last-child {
        width: 40%;
      }
    }

    //INPUT
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="file"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea {
      color: $nero;
      font-size: 1em;
    }

    input[type="number"] {
      padding: 0 0 0 ($line-height / 2)  !important;
      width: 100px;
    }

    .button__container {
      text-align: center;
    }

    input[type="button"] {
      @extend %button;
      @include button(p, 4, half);
      @include button-color(main);
      text-align: center;
      text-transform: uppercase;
    }
  }

  //*********MOBILE
  //****************
  @include breakpoint-min(xxl) {
    .booking-trigger {
      display: none;
    }

    label[for="booking-trigger"] {
      display: none;
    }
  }

/*  @include breakpoint-max(uxl) {
    width: 100%;
    max-width: 1700px;
    left: 0;

    .widget-solutyon-booking-engine {
      width: 100%;
      max-width: 1700px;
      font-size: 1em;


      form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .prenotazione_title {
        flex-basis: 100%;
        flex-shrink: 0;
        text-align: left;
      }
      table {
        display: block;
        flex-basis: 75%;
        margin-bottom: 0;

        tbody {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        tr {
          display: flex;
          flex-flow: row;
          flex-basis: 25%;
          width: 25%;
          flex-grow: 0;
          margin: 0;
          padding: 0 $line-height;
        }

        td {
          display: block;
          flex-basis: 50%;
          padding-top: 0;
        }
      }
    }
  }*/

  @include breakpoint-max(xxl) {
    position: relative;
    background: transparent;
    padding: 0;
    right: 0;

    .widget-solutyon-booking-engine {
      padding: $line-height;
      width: 100%;
      height: auto;
      position: fixed;
      bottom: -100%;
      right: 0;
      z-index: 0;
      background: $bordeaux;
      transition: all 500ms;
      box-sizing: border-box;
      max-width: 330px;
      box-shadow: -2px -2px 10px rgba($nero-vero, 0.5);

      table {
        max-width: 400px;
        margin: 0 auto $line-height auto;
      }
    }

    .booking-trigger {
      position: fixed;
      bottom: 0;
      clip: rect(0, 0, 0, 0);
      z-index: 99999999;
    }



    label[for="booking-trigger"] {
      position: fixed;
      //left: 15px;
      z-index: 2;
      color: $bianco;
      bottom: 0;

      right: 0;
      background: $bordeaux;
//      width: 100%;
      padding: ($line-height / 2) $line-height;
      text-align: right;
      box-sizing: border-box;
      transition: all 500ms;
      font-weight: bold;
      text-transform: uppercase;

      &::after {
        content: "Prenota Adesso";


        @at-root {
          .current-language-english #{&} {
            content: "Book Now";
          }
        }
      }

    }

    .booking-trigger:checked + label {
      color: $bianco;
      background: transparent;
      transition: all 500ms;
      &::after {
        content: "Chiudi";

        @at-root {
          .current-language-english #{&} {
            content: "Close";
          }
        }
      }
    }

    .booking-trigger:checked ~ .widget-solutyon-booking-engine {
      bottom: 0;
      transition: all 500ms;
    }
  }

  @include breakpoint-max(md) {
    .widget-solutyon-booking-engine {
      height: 60%;
    }
  }

  @include breakpoint-max(sm) {
    .widget-solutyon-booking-engine {
      height: 70%;
    }
  }

  @include breakpoint-max(xs) {
    .widget-solutyon-booking-engine {
      font-size: 0.8em;
      height: 80%;
    }
  }
}
