//****************************************************************************//
//*                                                                     ******//
//*                             MODULI & FORMS
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
//****************************************************************************//
//                     Tipografia
//****************************************************************************//
///
// Etichette / Labels
///
.gform_wrapper .top_label .gfield_label {
  font-size: font(h2, fs);
  background: palette(porpora, bg)
}

#page input[type="text"],
#page input[type="password"],
#page input[type="email"],
#page input[type="file"],
#page input[type="datetime"],
#page input[type="datetime-local"],
#page input[type="date"],
#page input[type="month"],
#page input[type="time"],
#page input[type="week"],
#page input[type="number"],
#page input[type="url"],
#page input[type="search"],
#page input[type="tel"],
#page input[type="color"],
#page textarea {
  @include form-field(p, 4);
  height: auto;
}

//****************************************************************************//
//                     Colori FORM, LABEL e DESCRIZIONI CAMPI
//                     di tutte le varie sezioni
//****************************************************************************//
@each $palette, $bg in $colors {
  .#{$palette} .gform_wrapper {
    background: palette($palette, form-bg); //BG del form

    a {
      color: palette($palette, form-link); //Colore link
    }

    input,
    textarea,
    select { //Colore Bordo dei campi
      border-color: darken(palette($palette, form-bg), 2.5%);

      &:focus { //colore bordo campi focused
        border-color: darken(palette($palette, form-bg), 20%);
      }
    }

    label { //colore del label
      color: palette($palette, form-body)
    }

    .gfield_date_day label,
    .gfield_date_month label,
    .gfield_date_year label,
    .gfield_time_ampm label,
    .gfield_time_hour label,
    .gfield_time_minute label,
    .ginput_complex label,
    .instruction,
    .gfield_description { //colore sottoetichette e descrizione campi
      color: palette($palette, form-desc)
    }

    input.button,
    input[type=submit] { //colore bottone
      @include button-color;
      cursor: pointer;

      &:hover { //hover bottone
        @include button-color(hover);
      }
    }
  }
}
