//****************************************************************************//
//*                                                                     ******//
//*                             MODULI & FORMS
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
//****************************************************************************//
//                     Layout
//****************************************************************************//
///
// Etichette / Labels
///
.gform_wrapper .gform_body {
  padding: 0px 76px 76px 76px;
}
///
// Descrizione modulo
///
.gform_wrapper span.gform_description {
  padding: 76px 76px 0px 76px;
}
///
// Pulsante invia
///
.gform_wrapper .gform_footer {
  padding: 0px 76px 76px 76px;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  width: 100%;
  height: 76px;
}

//****************************************************************************//
//                     Tipografia
//****************************************************************************//
///
// Etichette / Labels
///
.gform_wrapper label.gfield_label {
  font-size: font(p, fs);
  font-style: normal;
}

///
// Pulsante invia
///
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  font-size: font(h3, fs);
  background: palette(verde, button-bg)
}

.gform_wrapper textarea.medium {
  background-color: white;
}
//****************************************************************************//
//                     Colori FORM, LABEL e DESCRIZIONI CAMPI
//                     di tutte le varie sezioni
//****************************************************************************//
@each $palette, $bg in $colors {
  .#{$palette} .gform_wrapper {
    background: palette($palette, form-bg); //BG del form

    a {
      color: palette($palette, form-link); //Colore link
    }

    input,
    textarea,
    select { //Colore Bordo dei campi
      border-color: darken(palette($palette, form-bg), 2.5%);

      &:focus { //colore bordo campi focused
        border-color: darken(palette($palette, form-bg), 20%);
      }
    }

    label { //colore del label
      color: palette($palette, form-body)
    }

    .gfield_date_day label,
    .gfield_date_month label,
    .gfield_date_year label,
    .gfield_time_ampm label,
    .gfield_time_hour label,
    .gfield_time_minute label,
    .ginput_complex label,
    .instruction,
    .gfield_description { //colore sottoetichette e descrizione campi
      color: palette($palette, form-desc)
    }

    input.button,
    input[type=submit] { //colore bottone
      @include button-color;
      cursor: pointer;

      &:hover { //hover bottone
        @include button-color(hover);
      }
    }
  }
}
