//****************************************************************************//
//                        FEATURED HEADER BLOG
//****************************************************************************//
///
// ARCHIVIO
///
 .archive.category #feature {
   background-image: url(http://langhero.it/files/2017/04/tappi-spumanti.jpg);
   background-position: top center;

  .feature-introduce {
    display: none;
  }
 }

///
// SINGLE POST
///
 .single-post #feature {
   background-image: url(http://langhero.it/files/2017/04/tappi-spumanti.jpg);
   background-position: top center;
 }

///
// CATEGORIE SPECIFICHE
///
.category-reviews #feature,
.category-critica #feature,
.single-post .category-reviews #feature,
.single-post .category-critica #feature {
  background-image: url();
  background-position: bottom center;
}
