//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.entry {
  margin-bottom: $line-height * 3;
  position: relative;

  @include breakpoint-max(md) {
    margin-left: -$line-height * 2;
    margin-right: -$line-height * 2;
  }

  @include breakpoint-max(md) {
    margin-left: -$line-height;
    margin-right: -$line-height;
  }
}

.entry_info {
  //margin-top: -($line-height * 6);
  z-index: 222;
  position: absolute;;
  padding: $line-height;
  background: rgba($nero, 0.55);
  top: 0;
}


//****************************************************************************//
//                        FEATURED HEADER
//****************************************************************************//
/*
 * Feat Header Categorie
 */
.category-non-categorizzato #feature,
.category-critica #feature {
  background-image: url(http://nuovoitrepoggi.langhe.net/files/2017/02/resized__DSC0153-2.jpg);
  background-position: center center;
}

.category-news #feature,
.category-news-en #feature {
  background-image: url(http://caneuva.com/files/2016/07/DSC1905.jpg);
  background-position: bottom center;
}




//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}


/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom-color: main-colors(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img,
.image_styled {
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
}




//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info .entry_title {
  @include font(h3, $mt: 0, $mb: 0, $fm: primary);

  @include breakpoint-max(md) {
    @include m-size(h3, $mt: 0, $mb: 0);
  }
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: $bianco;
}

.entry .entry_meta {
  @include font(p, $mb: 0, $mt: size(p, lh) / 2, $fm: secondary);
  text-transform: uppercase;
  border: 0;
  color: $bianco;

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: $bianco;
    text-decoration: none;
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: inherit;
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {
  padding: $line-height;
  background: rgba($grigio-chiarissimo, 0.25);

  p {

    margin-bottom: 0;
    box-sizing: border-box;
  }
}
