//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI 1 COLONNA
//*                                                                          *//
//*==========================================================================*//
//****************************************************************************//
//                         CONTENITORE
//****************************************************************************//
.entry {
  margin-bottom: $line-height * 3;
}


//****************************************************************************//
//                        FEATURED HEADER BLOG
//****************************************************************************//
///
// ARCHIVIO
///
 .archive.category #feature {
   background-image: url(http://duchessamargherita.langhe.net/files/2017/04/fiori.jpg);
   background-position: center center;

  .feature-introduce {
    display: none;
  }
 }

///
// SINGLE POST
///
 .single-post #feature {
   background-image: url(http://duchessamargherita.langhe.net/files/2017/04/fiori.jpg);
   background-position: top center;
 }

///
// CATEGORIE SPECIFICHE
///
.category-reviews #feature,
.category-critica #feature,
.single-post .category-reviews #feature,
.single-post .category-critica #feature {
  background-image: url();
  background-position: bottom center;
}


//****************************************************************************//
//                        FEATURED HEADER
//****************************************************************************//
/*
 * Feat Header Categorie
 */
.category-reviews #feature,
.category-critica #feature {
  background-image: url(http://caneuva.com/files/2016/07/DSC_11670.jpg);
  background-position: bottom center;
}

.category-news #feature,
.category-news-en #feature {
  background-image: url(http://caneuva.com/files/2016/07/DSC1905.jpg);
  background-position: bottom center;
}




//****************************************************************************//
//                         IMMAGINI LISTATI
//****************************************************************************//

/*
 * Ombra immagine listati
 */
.category.has-shadow .image_shadow_wrap::before,
.category.has-shadow .image_shadow_wrap::after {
  content: none;
}


/*
 * Decorazione immagini listati
 */
.image_frame {
  border-bottom-color: main-colors(main, accent)
}

// loop per tutte le sezioni
@each $palette, $bg in $colors {
  .category .#{$palette}.image_frame {
    border-bottom-color: palette($palette, accent)
  }
}

// Resetto bordo originale
.image_frame img {
  border-top: 0;
  border-bottom: 0;
}
.image_styled.entry_image {
  border-bottom: 0;
  display: block;
  margin-bottom: 0;
}

.hentry.entry.entry_full {
  @include breakpoint-max(sm) {
    margin-left: -$line-height;
    margin-right: -$line-height;
  }
}

//****************************************************************************//
//                          TITOLO e META
//****************************************************************************//
.entry_info {
  overflow: hidden;
  padding: 0 $line-height;
  background: $tortora;

  .entry-title {
    @include font(h2);

    @include breakpoint-max(md) {
      @include m-size(h2);
    }
  }
}

#page .entry .entry_title a,
#page .entry .entry_title a:visited {
  color: main-colors(main, heading);
}

.entry .entry_meta {
  display: none;

  @at-root #page #{&} a,
           #page #{&} a:visited {
    color: main-colors(main, heading);
  }
}

#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
  color: inherit;
}


//****************************************************************************//
//                         EXCERPT e READ MORE
//****************************************************************************//
.entry_content {
  padding: 0 $line-height $line-height $line-height;
  background: $tortora;
  p {
    margin-bottom: 0;
  }
}

//****************************************************************************//
//                         PAGINAZIONE
//****************************************************************************//
.wp-pagenavi {
  height: auto;
  padding: 0;
  position: relative;
  display: block;

  span.current,
  a,
  a:link {
    @include font(h3, $fm: primary);
    padding: (size(h3, lh) / 2) size(h3, lh);
    display: inline-block;

    @include breakpoint-max(md) {
      @include font(p);
      padding: (size(p, lh) / 2) size(p, lh);
    }
  }

  span.current {
    margin-right: 0;
    background: main-colors(main, bg-alt);
  }

  a {
    margin-right: 0;

    &:hover {
      background: main-colors(main, bg-alt);
    }
  }

  @at-root #page #{&} a {
    text-decoration: none;
  }
}
